*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: lightgray;
}

header{
    background-color: white;
}

.padding-header{
    padding: 20px;
}

header img{
    vertical-align: middle;
}

#titolo{
    font-size: 40px;
    vertical-align: middle;
}

.container{
    width: 80%;
    margin: auto;
    background-color: white;
    margin-top: 40px;
}


.bottoni{
    height: 50px;
    
}