*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding-header{
    padding: 20px;
}

header img{
    vertical-align: middle;
}

#titolo{
    font-size: 40px;
    vertical-align: middle;
}