*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: lightgray;
}

header{
    background-color: white;
}

.padding-header{
    padding: 20px;
}

header img{
    vertical-align: middle;
}

#titolo{
    font-size: 40px;
    vertical-align: middle;
}

.container{
    width: 50%;
    margin: auto;
    background-color: white;
    margin-top: 40px;
}


.bottoni{
    height: 50px;
    padding-left: 60px;
    padding-top: 15px;
}

#bottone1{
    border-radius: 15%;
    color: white;
    background-color: rgb(4, 73, 133);
    padding: 5px;
    
}

#bottone2{
    border: solid grey 0.5px;
    border-radius: 15%;
    color: grey;
    padding: 5px;
    
}